.empty-bar {
  position: relative;
  height: 15px;
  width: 100%;
  border-radius: 1px;
  border: 1px solid#EEEEEE;
  background: #eeeeee;
  border-style: none;
  margin-top: -2px;
  cursor: pointer;
}

.filler-bar {
  background: green;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.rating-bar-star-number {
  padding-right: 10px;
  margin-top: -4px;
}

.rating-bar-wrapper {
  display: flex;
  margin-top: 10px;
  margin: 0 0 15;
  transition: all 0.2s ease-in-out;
}

.rating-bar-wrapper:hover {
  transform: scale(1.1);
}
